header { 
    text-align: center;
    padding: 37px 0 25px 0;
    background: linear-gradient(#d5d5d5, #fff, #fff, #fff, #fff);
}
#logo img {
    width: 50%;
}
#menu { 
    padding: 20px 0 0 0;
}
#menu li {
    padding: 0 10px 8px 10px;
    font: .7em Tahoma;
    color: #b7b7b7;
}
#menu li a {
    display: block;
    font: bold .9rem Georgia;
    text-transform: uppercase;
    color: #666;
}
main {
    background: #fff url('../img/mainbg.jpg') repeat-x;
}
main .container {
    padding: 22px;
}
#slider {
    height: 340px;
    border: 1px solid #c6c6c6;
    border-radius: 8px;
    background: url('../img/slider1.jpg') center/cover;
}
h1 {
    font: bold 1.5em Georgia;
    color: #000;
    text-align: center;
    padding: 20px 0 15px 0;
}
h3 {
    font: 1.2em Georgia;
    color: #444;
    border-bottom: 1px dashed #d3d3d3;
    padding: 7px 0;
}
hr {
    border: none;
    border-bottom: 1px solid #e5e5e5;
}
.row { 
    padding: 20px 0;
}
.col {
    padding: 10px;
}
article.col img {
    width: 100%;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    background: #f3f3f3;
    padding: 6px;
}
.btn1, .btn2 {
    width: 163px;
    padding: 8px 13px;
    text-align: left;
    border-radius: 4px;
    margin: 20px 0;
}
.btn1 span, .btn2 span {
    float: right;
}
.btn1 { 
    font: .8em Helvetica;
    color: #016999;
    border: 1px solid #d8d8d8;
    background: linear-gradient(to right, #e8e8e8, #f7f7f7, #e8e8e8, #eee);
}
.btn2 { 
    font: .8em Georgia;
    color: #fff;
    border: 1px solid #004a80;
    background: linear-gradient(to right, #356ca4, #4983b9, #4073a5, #306193);
}
#icons1 a {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 7px;
    box-shadow: 2px 2px 5px #333;
    margin-right: 2px;
    background-image: url('../img/icons.png');
}
#rs { background-position: 0 0; }
#fb { background-position: -50px 0; }
#in { background-position: -100px 0; }
#yt { background-position: -150px 0; }
#tw { background-position: -200px 0; }
#rs:hover { background-position: 0 -50px; }
#fb:hover { background-position: -50px -50px; }
#in:hover { background-position: -100px -50px; }
#yt:hover { background-position: -150px -50px; }
#tw:hover { background-position: -200px -50px; }

#icons2 a {
    color: #aaa;
    font-size: 3.1em;
    letter-spacing: 6px;
}
.fa-square-rss:hover { color: orange!important }
.fa-square-facebook:hover { color: darkblue!important }
.fa-linkedin:hover { color: lightblue!important }
.fa-square-youtube:hover { color: red!important }
.fa-square-x-twitter:hover { color: black!important }

footer {
    height: 183px;
    background: #333;
    border-top: 10px solid #4c4c4c;
}

/* D E S K T O P   V E R S I O N */
@media only screen and (min-width: 768px) {
    .container {
        max-width: 940px;
        margin: auto;
    }
    header { 
        text-align: initial;
    }
    #logo img {
        width: 26%;
    }
    #menu { 
        float: right
    }
    #menu li {
        display: inline-block;
    }
    .row::after {
        display: table;
        content: '';
        clear: both;
    }
    .col {
        width: 33.33%;
        float: left;
    }
}